/* vista mobile */


/* aplicando grid */

@media only screen and (min-width: 320px) and (max-width: 768px){

	.contenedorgeneralindex{
		display: grid;
		grid-template-areas: 
		"header"
		"main"
		"footer";
		grid-template-rows: 100px 418px 250px;
		grid-template-columns: 100%
	}




	header{
		grid-area: header
	}
	
	
	main{
		grid-area: main
	}	

		

	footer{
		grid-area: footer
	}
	
	.contenedorgeneralnuestraplanta{
		display: grid;
		grid-template-areas: 
		"header"
		"main"
		"footer";
		grid-template-rows: 100px 418px 250px;
		grid-template-columns: 100%

	}
	header{
		grid-area: header
	}
	main{
		grid-area: main
	}	

	footer{
		grid-area: footer
	}

.contenedorgeneralproductos{
	display: grid;
		grid-template-areas: 
		"header"
		"main"
		"footer";
		grid-template-rows: 100px 418px 250px;
		grid-template-columns: 100%

}

	header{
		grid-area: header
	}
	main{
		grid-area: main
	}	

	footer{
		grid-area: footer
	}


.gama{
	display: grid;
	grid-template-areas:
	"h3"
    "h3"
    "h3"
    "h3";
    grid-template-rows:  200px 200px 200px 178px;
	grid-template-columns: 100%;
}

h3{
	grid-area: h3;
}

.contenedorgeneralquienessomos{
	display: grid;
	grid-template-areas:
		 "header"
		"main"
		"footer";
		grid-template-rows: 100px 418px 250px;
		grid-template-columns: 100%

}

	header{
		grid-area: header
	}
	main{
		grid-area: main
	}	

	footer{
		grid-area: footer
	}

.contenedorgeneralcontacto{
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
		grid-template-rows: 100px 418px 250px;
		grid-template-columns: 100%

}

header{
		grid-area: header
	}
	main{
		grid-area: main
	}	

	footer{
		grid-area: footer
	}


/* aplicando flex */

a {
	text-decoration: none;
	color: green;
}

.encabezadoindex{

	display: flex;
	justify-content: space-between;
	background-color: black;
	
}

.cuerpoindex{
	display: flex;

}


.piebordeindex{
	display: flex;

}

.bordes{
	border: double grey;
}

.logo{
	width: 100px;
	height: 100px;
}

.banderas{
	width: 470px;
	height: 414px
}

.barradenavegacion{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: baseline;
	padding: 17px;
	list-style-type: none;
	
}

.barradenavegacionb{
	padding: 25px 5px 20px 5px;
	font-family:arial;
	font-size: 19px
}


.detallegeneral{
font-size: 15px;
background: grey;

}

.piebordeindex{
	display: flex;
	flex-direction: column;
	font-size: 15px;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	background-color: green;

}

.cuerponuestraplanta{
	display: flex;

}

.texto-quienessomos2{
	width: 200px;
	height: 200px;
	padding: 50px 0px 50px 0px;

}
.cuerponuestraplanta{
	display: flex;
	flex-wrap: nowrap;
	background-image: url('../Assets/Imagenes/imagenfabrica.jpg');
	font-size: 15px;
	color: white;
	align-items: center
}

}




















/* vista desktop */

@media only screen and (min-width: 1024px){



/* aplicando grid */

.contenedorgeneralindex{
		display: grid;
		grid-template-areas: 
		"header"
		"main"
		"footer";
		grid-template-rows: 80px 694px 250px;
		grid-template-columns: 100%;
		
	}


	header{
		grid-area: header
	}
	
	
	main{
		grid-area: main
	}	

		

	footer{
		grid-area: footer
	}

	.contenedorgeneralnuestraplanta{
		display: grid;
		grid-template-areas: 
		"header"
		"main"
		"footer";
		grid-template-rows: 80px 694px 250px;
		grid-template-columns: 100%

	}
	header{
		grid-area: header
	}
	main{
		grid-area: main
	}	

	footer{
		grid-area: footer
	}

	.contenedorgeneralproductos{
	display: grid;
		grid-template-areas: 
		"header"
		"main"
		"footer";
		grid-template-rows: 80px 694px 250px;
		grid-template-columns: 100%

}

	header{
		grid-area: header
	}
	main{
		grid-area: main
	}	

	footer{
		grid-area: footer
	}

	.gama{
	display: grid;
	grid-template-areas:
	"div"
    "div"
    "div"
    "div";
    grid-template-rows:  250px 250px 250px 260px;
	grid-template-columns: 100%;
}


h3{
	grid-area: h3;
}


.contenedorgeneralquienessomos{
	display: grid;
	grid-template-areas:
		 "header"
		"main"
		"footer";
		grid-template-rows: 80px 694px 250px;
		grid-template-columns: 100%

}

	header{
		grid-area: header
	}
	main{
		grid-area: main
	}	

	footer{
		grid-area: footer
	}


.contenedorgeneralcontacto{
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
		grid-template-rows: 80px 694px 250px;
		grid-template-columns: 100%

}

header{
		grid-area: header
	}
	main{
		grid-area: main
	}	

	footer{
		grid-area: footer
	}




.texto-quienessomos2{
	width: 100px;
	height: 100px;
	padding: 20px 20px 20px 500px;

}

	
/* aplicando flex */

.encabezadoindex{

	display: flex;
	background-color: black;
	justify-content: space-evenly;
	align-items: center;

}

.cuerpoindex{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center

}


.piebordeindex{
	display: flex;

}


.bordes{
	border: double grey;
}

.banderas{
	width: 760px;
	height: 380px; 
	position: relative;

}

			


.logo{
	width: 75px;
	height: 75px;
}

.barradenavegacion{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: baseline;
	list-style-type: none;
	color: red;
	
}

a {
	text-decoration: none;
	color: green;
	font-size:25px;

}

.barradenavegacionb{
	padding: 25px 20px 20px 25px;

}

li{
	color: red
}

.detallegeneral{

width: 800px;
text-align: center

}


.detallegeneral{

font-size: 15px;
color: black;

}

.piebordeindex{
	display: flex;
	flex-direction: column;
	font-size: 15px;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	background-color: green;

}
.cuerponuestraplanta{
	display: flex;
	flex-wrap: wrap;
	background-image: url('../Assets/Imagenes/imagenfabrica.jpg');
	font-size: 30px;
	color: white;
	align-items: center


}

.texto-quienessomos2{
	width: 200px;
	height: 200px;
	padding: 50px 0px 50px 0px;

}

.productos--tipos{

	width: 100px;
	height: 250px;
	
	


}

.productos--tipos1{
	font-size: 20px;
	color: black;
	
	
}

.portada-productos{
	display: flex
}
.gama{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap  
}

.cuerpoquienessomos{
background: grey

}

.texto-quienessomos2{
	width: 500px;
	height: 400px;
	padding: 20px 20px 20px 500px;

}

.prueba{
	width: 727px;
	height: 280px;

}

}

