
$widthdesktop: 1024px;
$widthdesktop2: 300px;
$heightdesktop:	100px;
$heightdesktop2: 50px;
$widthmobile: 768px;
$heightmobile: 50px;

/* vista desktop */

@media only screen and (min-width: 1024px){




 	.card-group img{

		width: $widthdesktop2;
		height: $heightdesktop2;
        }



}


/* vista mobile */

@media only screen and (max-width: 768px){

	.card-group{

		width:$widthmobile;
		height:$heightmobile;

	}

.card{

		width:$widthmobile;
		height:$heightmobile;
	}




}